@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.text-mask {
  -webkit-mask-image: url('/mask.svg');
  mask-image: url('/mask.svg');
  mask-size: 40px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: white;
  color: black;
}